* {
  font-family: Mulish;
  scroll-behavior: smooth;
}

.custom-card {
  border: transparent;
  background: transparent;
}

.popup-card__bar {
  display: grid;
  grid-template-rows: 45px 1fr 115px;
  background: #fff;
  position: absolute;
  width: 360px;
  height: 100vh;
  right: 0;
  top: 0;
}

.popup-card__bar-head,
.popup-card__bar-bottom {
  background: rgba(32, 32, 32, 0.05);
}

.popup-card__bar-head {
  display: grid;
  grid-template-columns: 1fr 45px;
  align-items: center;
  padding: 0 10px 0 20px;
}

.popup-card__bar-head-title {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #B4B4B4;
}

.popup-card__bar-close {
  border: none;
  background: transparent;
}

.popup-card {
  z-index: 99;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(39, 45, 63, 0.8);
}

.custom-header .grid.grid--no-gutters.grid--table.site-header__mobile-nav {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 72px;
  align-items: center;
  grid-gap: 0 20px;
}

.custom-header .grid__item.medium-up--one-quarter.logo-align--left,
.custom-header .grid__item.medium-up--one-half.small--hide,
.custom-header .grid__item.medium-up--one-quarter.text-right.site-header__icons {
  width: auto;
}

.custom-header .grid__item.medium-up--one-half.small--hide {
  margin-left: auto;
}

.custom-header .site-nav {
  margin: 22px 0;
}

.mobile-nav-wrapper.js-menu--is-open {
  background: #131824;
  margin-top: -73px;
  padding-top: 73px;
  height: 100vh;
  position: absolute;
  z-index: 99;
}

.custom-header .site-header__menu {
  top: 10px;
  left: 10px;
  position: absolute;
  z-index: 111;
}

.search-form.search-bar__form .search-bar__input {
  background-color: transparent;
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.search-form.search-bar__form .search-bar__input::placeholder {
  color: #585c66;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.custom-header .mobile-nav {
  padding: 0 20px;
}

.custom-header .search-form.search-bar__form .search-bar__input {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-left: 0;
}

.custom-header .border-bottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.custom-hero__btn {
  background: #CC0000;
  border: 1px solid #950000;
  box-sizing: border-box;
  box-shadow: inset 0 -2px 2px rgba(32, 32, 32, 0.33);
  border-radius: 4px;
}

.custom-hero__btn:not([disabled]):hover {
  background: #CC0000;
  border: 1px solid #950000;
  box-shadow: inset 0 2px 2px rgba(32, 32, 32, 0.33);
}

.hero__inner .featured-product--compare-price {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.33);
}

.hero__inner .featured-product--price {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.custom-gallery.grid__item.product-single__media-group {
  padding: 0;
}

.item-inner {
  display: grid;
  grid-template-columns: 64px 1fr;
  grid-gap: 20px;
  padding: 16px 28px 16px 18px;
  border-bottom: 1px solid rgba(32, 32, 32, 0.05);
}

.item-inner .circle-img {
  border-radius: 50%;
  height: 64px;
  width: 64px;
}

.item-inner .product-info {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
  color: #202020;
}

.item-inner .product-form__controls-group {
  margin-top: 18px;
}

.item-inner .number-minus,
.item-inner .number-plus,
.item-inner .product-form__input--quantity {
  height: 32px;
}

.item-inner .number-minus,
.item-inner .number-plus {
  width: 32px;
}

.item-inner .product-form__input--quantity {
  width: 61px;
}

.item-inner .popup-card__bar-bottom {
  position: absolute;
  bottom: 0;
  height: 115px;
  width: 100%;
  z-index: 101;
}

@media only screen and (max-width: 1224px) {
  .site-header {
    margin: 0 50px;
  }
}

@media only screen and (max-width: 749px) {

  .custom-header .site-header__logo {
    text-align: center;
  }

  .desktop-screen {
    display: none;
  }

  .custom-header .grid.grid--no-gutters.grid--table.site-header__mobile-nav {
    grid-template-columns: 45px 1fr auto;
  }

  .custom-header .grid__item.medium-up--one-quarter.logo-align--left {
    grid-column: 2 / span 1;
  }

  .custom-header .mobile-nav__link {
    padding-left: 0;
  }

  .custom-header .mobile-nav__item.border-bottom .mobile-nav__link,
  .custom-header .mobile-nav__label {
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: #FFFFFF;
  }

  .custom-header .mobile-nav__item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .mobile-nav__link, .mobile-nav__sublist-link {
    padding: 10px 30px;
  }

  .site-header {
    margin: 0;
  }

}
