* {
  font-family: 'Goudy Bookletter 1911', serif !important;
  scroll-behavior: smooth;
}

.custom-header .grid.grid--no-gutters.grid--table.site-header__mobile-nav {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  grid-gap: 0 20px;
}

.custom-header .grid__item.medium-up--one-quarter.logo-align--left,
.custom-header .grid__item.medium-up--one-half.small--hide,
.custom-header .grid__item.medium-up--one-quarter.text-right.site-header__icons {
  width: auto;
}

.custom-header .grid__item.medium-up--one-half.small--hide {
  margin-left: auto;
}

@media only screen and (max-width: 749px) {

  .custom-header .site-header__logo {
    text-align: center;
  }

  .desktop-screen {
    display: none;
  }

}
